:root {
  --color-cover: rgba(210, 210, 255, 0.8);
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

body::before {
  content: '';
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-cover);
  background-image: url(https://www.lemalabs.com/wp-content/uploads/2020/06/3327590-scaled.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

p,h1 {
  margin-top: auto;
  margin-bottom: 5px;
}

label {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.container {
  margin: auto;
}

@media (min-width: 800px) {
  .container {
    max-width: 850px;
  }
}

.header {
  padding: 25px;
  margin-bottom: 20px;
}


.text-center {
  text-align: center;
  font-variant: small-caps;
}


form {
  background: var(--color-cover);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  background-color: rgb(252, 232, 255);
  background-clip: padding-box;
  border-radius: 5px;

}

.input-textarea {
  min-height: 120px;
  width: 100%;
  background-color: rgb(252, 232, 255);

}


.input-radio,.input-checkbox {
  margin-right: 7px;
  min-height: 15px;
  min-width: 15px;
}


.submit-button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: rgb(144, 255, 144);
  border-radius: 10px;
  cursor: pointer;
}

.fill-button {
  display: block;
  width: 30%;
  padding: 15px;
  background-color: rgb(144, 255, 144);
  border-radius: 10px;
  position: relative;
  left: 450px;
  cursor: pointer;
}
